body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
    background: #f5f7f9;
}

h2 {
    margin: 2% 2% 0 2%;
    font-size: 2em;
}

a:link {
    text-decoration: none;
    text-shadow: none;
}

#wrapper {
    position: relative;
    width: 100%;
}

#welcome {
    position: relative;
    width: 100%;
    height: 50vw;
    background: url(assets/img-showcase.jpg) center no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

#logo_wrapper {
    height: 50vw;
}

#navigation_buttons_wrapper {
    display: none;
}

#nav_bar {
    height: 45px;
}

#nav_menu {
    display: block;
    position: absolute;
    width: 50px;
    height: 100%;
}

.hamburger_icon_wrapper {
    display: flex;
    position: relative;
    width: 40%;
    height: 30%;
    margin: 30% auto;
}

.hamburger_icon {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 13%;
}

.hamburger_icon_top {
    align-self: flex-start;
}

.hamburger_icon_mid {
    align-self: center;
}

.hamburger_icon_bot {
    align-self: flex-end;
}

#nav_menu:hover {
    background: rgba(0, 0, 0, 0.1);
}

#nav_menu ul {
    position: absolute;
    display: none;
}

#nav_menu:hover ul {
    background: white;
    position: absolute;
    display: block;
    width: 200px;
    height: 300px;
    margin: 0;
    padding: 0;
    box-shadow: 0px 6px 15px -5px;
}

#nav_menu ul li {
    display: flex;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

a.navigation_button_menu {
    padding: 15px 0;
    width: 100%;
}

a.navigation_button_menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.initial {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(66, 133, 244);
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(66, 133, 244);
}

.search_menu {
    display: flex;
    position: fixed;
    right: 0;
    height: 45px;
}

.navigation_button:hover {
    background-color: green;
}

#content {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.scroll_list_wrapper {
    position: relative;
    width: 100%;
}

#buttons {
    display: none;
}

#scroll_list {
    position: relative;
    width: 98%;
    padding: 5px;
    overflow: scroll;
    display: -webkit-inline-box;
    transition : transform 0.5s ease;
}

.event_card {
    position: relative;
    width: 60vw;
    min-width: 400px;
    min-height: 400px;
    background: white;
    left: 1%;
    top: 1%;
    border: 2px transparent;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.event_button {
    min-width: 100px;
    min-height: 60px;
    font-size: 1.2em;
}

.event_button_wrapper h3 {
    font-size: 1.5em;
}

.event_button_wrapper p {
    font-size: 1em;
}

a.event_button {
    color: #555;
    font-weight: bold;
}

img {
    position: relative;
    width: 100%;
}

#map_wrapper {
    position: relative;
    width: 100%;
    height: 60vw;
    margin-top: 5%;
}

footer {
    position: relative;
    width: 100%;
    height: 20%;
    border-top: 2px solid #ddd;
}