@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
    background: #f5f7f9;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    top: 0;
    position: absolute;
}

textarea, input, button, select {
    font-family: inherit; font-size: inherit;
    border: none;
}

textarea, input {
    outline: none;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    border: 1px solid #eeeeee;
}

textarea:hover, input:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

textarea:focus, input:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    margin: 2% 2% 1% 2%;
    font-size: 2vw;
}

#wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 20;
    background: #f5f7f9;
    margin: 0 auto -8em;
    padding-bottom: 2em;
}

.nav_bar_margin {
    margin-top: 4% !important;
    min-height: 96% !important;
}

#welcome {
    position: relative;
    width: 100%;
    height: 20vw;
    display: flex;
    align-items: flex-end;
}

#logo_wrapper {
    position: fixed;
    width: 100%;
    height: 20vw;
    background: url(assets/img-showcase.jpg) center no-repeat;
    background-size: 100%;
    top: 0;
}

#nav_bar {
    box-shadow: 0px 7px 10px -4px gray;
    transition: background-color 100ms;
    height: 2.5vw;
}

#navigation_buttons_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.account_list_item ul {
    display: none;
    position: absolute;
    width: 10vw;
    margin-left: 2%;
    right: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

.account_list_item:hover ul {
    display: block;
}

.account_list_item ul li {
    background-color: #fff;
    padding: 5%;
    transition: all 0.2s ease;
}

.account_list_item ul li a {
    display: block;
    width: 100%;
    padding: 5%;
    color: black;
}

.account_list_item ul li:hover {
    background-color: #ee4b28;
}

.account_list_item ul li:hover a {
    color: white;
}

.initial {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #ee4b28;
}

#nav_menu {
    display: none;
}

.navigation_button {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    color: white;
    padding: 0 20px 0 20px;
    white-space: nowrap;
    transition: background-color 0.5s, border 0.5s, transform 1s;
}

.search_menu {
    display: none;
}

.selected {
    box-shadow: inset 0 -3px 0 white;
}

.navigation_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*.navigation_button:active {*/
    /*background: #ee4b28;*/
    /*color: #ee4b28;*/

    /*border-radius: 1000vw;*/

    /*transform: scale3d(100, 100, 10);*/
/*}*/

.search {
    margin-left: auto;
}

.user {
    margin-left: 0;
}

.user:hover {
}

#content {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.info {
    position: relative;
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

.info h3 {
}

.scroll_list_wrapper {
    position: relative;
    width: 100%;
    height: 18vw;
    min-height: 200px;
}

#buttons {
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 20;
    align-items: center;
    pointer-events: none;
}

#button_back {
    position: absolute;
    border-radius: 0 200px 200px 0;
    display: none;
    pointer-events: all;
}

#button_forward {
    position: absolute;
    right: 0;
    border-radius: 200px 0 0 200px;
    pointer-events: all;
}

.seek_button {
    width: 3vw;
    height: 6vw;
    top: 35%;
    background: rgba(50, 50, 50, 0.5);
    transition: background 0.5s;
}

.seek_button:hover {
    background: rgba(50, 50, 50, 0.7);
}

#scroll_list {
    position: relative;
    width: 98%;
    padding: 5px;
    overflow: hidden;

    /*IE workaround*/
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;

    display: -webkit-inline-box;
    transition : transform 0.5s ease;
}

.event_card {
    position: relative;
    width: 13%;
    height: 12vw;
    min-height: 150px;
    min-width: 150px;
    background: white;
    left: 1%;
    top: 1%;
    border: 2px transparent;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.img_wrapper {
    position: relative;
    width: 100%;
    height: 40%;
    background: #000;
    overflow: hidden;
}

.img_wrapper p {
    position: absolute;
    color: white;
    text-shadow: 2px 2px #000;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 2%;
    font-size: 1.2vw;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.event_button_wrapper {
    position: relative;
    height: 60%;
    padding: 0 2% 0 2%;
}

.event_button_wrapper h3 {
    font-size: 1vw;
    margin: 4% 2% 4% 2%;
}

.event_button_wrapper p {
    font-size: 0.8vw;
    margin: 2%;
    word-wrap: break-word;
    height: 40%;
}

.button {
    height: 2vw;
    min-width: 60px;
    min-height: 15px;
    right: 0;
    bottom: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #dddddd;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    font-size: 0.7em;
    color: #555;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    background-color: #ee4b28;
    color: white;
}

.event_button {
    position: absolute;
}

#map_wrapper {
    position: absolute;
    width: 75%;
    height: 40vw;
    left: 20%;
    margin-top: 1em;
    background: #fff;
    padding: 1%;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

#map {
    width: 100%;
    height: 100%;
}

/* SEARCH PAGE */
.search_wrapper {
    text-align: center;
    margin-bottom: 1%;
}

#search_input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid #aaa;
    width: 35%;
    padding: 5px 5px 5px 5px;
    font-size: 1.2em;
    box-shadow: none;
}

#search_input:focus {
    border-bottom: 2px solid #ee4b28;
}

.search_results_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/*ALL EVENTS PAGE*/
ul#options_menu {
    position: fixed;
    width: 15vw;
    height: 30vw;
    margin-left: 2%;
    padding: 0;
    list-style: none;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

ul#options_menu li {
    background-color: #fff;
    transition: all 0.2s ease;
}

ul#options_menu li a {
    display: block;
    width: 100%;
    padding: 5%;
    color: black;
}

ul#options_menu li:hover {
    background-color: #ee4b28;
}

ul#options_menu li:hover a {
    color: white;
}

ul#all_events_wrapper {
    position: relative;
    width: 100%;
    min-width: 960px;
    list-style: none;
    padding: 0;
    margin: 0 25% 0 25%;
}

ul#event_types {
    position: relative;
    width: 96%;
    height: 4vw;
    margin: 2%;
    padding: 0;
    background: #ee4b28;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

ul#all_events_wrapper li {
    background: white;
    position: relative;
    display: flex;
    width: 96%;
    height: 11vw;
    min-height: 200px;
    margin: 2%;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

ul#all_events_wrapper li img {
    position: relative;
    width: 25%;
    height: 100%;
}

ul#all_events_wrapper li .event_info {
    position: relative;
    height: 100%;
    width: 100%;
}

ul#all_events_wrapper li .event_info h3 {
    margin-left: 1%;
}

ul#all_events_wrapper li .event_info p {
    margin-left: 1%;
}

/* ADD EVENT PAGE*/
form#add_event {
    position: relative;
    max-width: 37em;
    margin: 0 auto;
}

.input_class {
    width: 97%;
    line-height: 1.5;
    padding: 1%;
    font-size: 1em;
}

#event_desc {
    width: 97%;
    height: 10vw;
    resize: none;
    padding: 1%;
    line-height: 1.5;
    font-size: 1em;
}

input.form_button {
    margin: 1% 1% 1% auto;
    width: 10%;
}

/* ACCOUNT PAGE*/
#account_wrapper {
    position: absolute;
    width: 75vw;
    height: 80vh;
    left: 20%;
    margin: 1em;
    padding: 1%;
    background: #fff;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

#account_wrapper img {
    position: absolute;
    width: 20%;
}

#account_info {
    position: absolute;
    left: 25%;
    height: 100%;
    width: 75%;
}


/* EVENT DETAILS PAGE*/
#info_wrapper {
    position: relative;
    max-width: 37em;
    margin: 0 auto;
}

#info_wrapper img {
    width: 100%;
}

.desc_wrapper {
    position: relative;
    max-width: 37em;
    margin: 0 auto;
}

.desc_wrapper img {
    width: 100%;
}

/* LOGIN */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.4);
}

.overlay:target {
    display: block;
}

#login {
    position: fixed;
    width: 32%;
    min-width: 600px;
    height: 26%;
    min-height: 320px;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eeeeee;
    z-index: 1000000;
}

.close_login {
    position: absolute;
    display: block;
    right: 0;
    margin: 1%;
    color: black;
}

#login form {
        padding: 10%;
}


/* FOOTER */
footer {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 2em;
    bottom: 0;
    border-top: 2px solid #ddd;
    text-align: center;
    background: #f5f7f9;
}