body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #333333;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#welcome {
    position: relative;
    width: 100%;
    height: 50vw;
    background: url(assets/img-showcase.jpg) center no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

#navigation_buttons_wrapper {
    display: none;
}

#nav_menu {
    display: block;
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: red;
}

#nav_menu ul {
    position: absolute;
    display: none;
}

#nav_menu:hover ul {
    background: white;
    position: absolute;
    display: block;
    width: 200px;
    height: 400px;
    margin-top: 45px;
    padding-top: 20px;
}

.initial {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    z-index: 100;
}

.navigation_button {
    position: relative;
    width: 10%;
    height: 100%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    color: white;
    border-bottom: 0 solid;
    transition: background-color 0.5s;
}

.search_menu {
    position: fixed;
    right: 0;
    height: 45px;
}

.navigation_button:hover {
    background-color: green;
}

.user {
    position: relative;
    width: 10%;
    height: 100%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: background-color 0.5s;
}

.user:hover {
    background-color: red;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.scroll_list_wrapper {
    position: relative;
    width: 100%;
    height: 42vw;
}

#buttons {
    display: none;
}

#scroll_list {
    position: relative;
    width: 98%;
    height: 100%;
    padding: 5px;
    overflow: scroll;
    display: -webkit-inline-box;
    transition : transform 0.5s ease;
}

.event_card {
    position: relative;
    width: 40vw;
    height: 98%;
    background: white;
    left: 1%;
    top: 1%;
    border: 2px transparent;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.event_button_wrapper {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    /* bottom: 0; */
    align-items: flex-end;
    justify-content: flex-end;
}

.event_button {
    position: relative;
    width: 100px;
    height: 40px;
    margin: 10px;
    background: #dddddd;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.event_button:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

img {
    position: relative;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: black;
}