@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
    background: #f5f7f9;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    margin: 2% 2% 1% 2%;
    font-size: 2vw;
}

#wrapper {
    position: relative;
    width: 100%;
    z-index: 20;
    background: #f5f7f9;
}

#welcome {
    position: relative;
    width: 100%;
    height: 20vw;
    display: flex;
    align-items: flex-end;
}

#logo_wrapper {
    position: fixed;
    width: 100%;
    height: 20vw;
    background: url(assets/img-showcase.jpg) center no-repeat;
    background-size: 100%;
    top: 0;
}

#nav_bar {
    box-shadow: 0px 7px 10px -4px gray;
    transition: background-color 100ms;
    height: 2.5vw;
}

#navigation_buttons_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.initial {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #ee4b28;
}

#nav_menu {
    display: none;
}

.navigation_button {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    color: white;
    padding: 0 20px 0 20px;
    white-space: nowrap;
    transition: background-color 0.5s, border 0.5s, transform 1s;
}

.search_menu {
    display: none;
}

.selected {
    box-shadow: inset 0 -3px 0 white;
}

.navigation_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*.navigation_button:active {*/
    /*background: #ee4b28;*/
    /*color: #ee4b28;*/

    /*border-radius: 1000vw;*/

    /*transform: scale3d(100, 100, 10);*/
/*}*/

.search {
    margin-left: auto;
}

.user {
    margin-left: 0;
}

.user:hover {
}

#content {
    position: relative;
    width: 100%;
}

.info {
    position: relative;
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

.info h3 {
}

.scroll_list_wrapper {
    position: relative;
    width: 100%;
    height: 18vw;
    min-height: 200px;
}

#buttons {
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 20;
    align-items: center;
    pointer-events: none;
}

#button_back {
    position: absolute;
    border-radius: 0 200px 200px 0;
    display: none;
    pointer-events: all;
}

#button_forward {
    position: absolute;
    right: 0;
    border-radius: 200px 0 0 200px;
    pointer-events: all;
}

.button {
    width: 3vw;
    height: 6vw;
    top: 35%;
    background: rgba(50, 50, 50, 0.5);
    transition: background 0.5s;
}

.button:hover {
    background: rgba(50, 50, 50, 0.7);
}

#scroll_list {
    position: relative;
    width: 98%;
    height: 70%;
    padding: 5px;
    overflow: hidden;

    /*IE workaround*/
    display: flex;
    flex-direction: row;

    display: -webkit-inline-box;
    transition : transform 0.5s ease;
}

.event_card {
    position: relative;
    width: 13%;
    height: 98%;
    min-width: 150px;
    background: white;
    left: 1%;
    top: 1%;
    border: 2px transparent;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.event_card img {
    position: relative;
    width: 100%;
    height: 40%;
}

.event_button_wrapper {
    position: relative;
    height: 60%;
    padding: 0 2% 0 2%;
}

.event_button_wrapper h3 {
    font-size: 1vw;
    margin: 4% 2% 4% 2%;
}

.event_button_wrapper p {
    font-size: 0.8vw;
    margin: 2%;
    word-wrap: break-word;
    height: 40%;
}

.event_button {
    position: absolute;
    width: 30%;
    height: 15%;
    min-width: 60px;
    min-height: 15px;
    right: 0;
    bottom: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #dddddd;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    font-size: 0.6vw;
}

.event_button:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    background-color: #ee4b28;
    color: white;
}

a.event_button {
    color: #555;
    font-weight: bold;
}

#map_wrapper {
    position: relative;
    width: 100%;
    height: 40vw;
    margin-top: 2%;
}

#map {
    width: 100%;
    height: 90%;
}

/* SEARCH PAGE */
.search_wrapper {
    text-align: center;
    margin-bottom: 1%;
}

#search_input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid #aaa;
    width: 50%;
    font-size: 2vw;
}

#search_input:focus {
    border-bottom: 2px solid #ee4b28;
}

.search_results_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    width: 100%;
    padding: 1% 0 1% 0;
    border-top: 2px solid #ddd;
    text-align: center;
    background: #f5f7f9;
}