body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
    background: #f5f7f9;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    margin: 2% 2% 1% 2%;
    font-size: 3vw;
}

#wrapper {
    position: relative;
    width: 100%;
}

#welcome {
    position: relative;
    width: 100%;
    height: 20vw;
    background: url(assets/img-showcase.jpg) center no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

#nav_bar {
    box-shadow: 0px 7px 10px -4px gray;
    transition: background-color 100ms;
}

#navigation_buttons_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.initial {
    position: relative;
    top: 0;
    width: 100%;
    height: 3.5vw;
    z-index: 100;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5vw;
    z-index: 100;
    background-color: rgb(66, 133, 244);
}

#nav_menu {
    display: none;
}

.navigation_button {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    color: white;
    padding: 0 20px 0 20px;
    white-space: nowrap;
    transition: background-color 0.5s, border 0.5s;
}

a.navigation_button {
    text-shadow: 2px 2px gray;
}

.navigation_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.search {
    margin-left: auto;
}

.user {
    margin-left: 0;
}

.user:hover {
}

#content {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.scroll_list_wrapper {
    position: relative;
    width: 100%;
    height: 17vw;
    min-height: 200px;
}

#buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    align-items: center;
    pointer-events: none;
}

#button_back {
    position: absolute;
    border-radius: 0 200px 200px 0;
    display: none;
    pointer-events: all;
}

#button_forward {
    position: absolute;
    right: 0;
    border-radius: 200px 0 0 200px;
    pointer-events: all;
}

.button {
    width: 3vw;
    height: 6vw;
    top: 35%;
    background: rgba(50, 50, 50, 0.5);
    transition: background 0.5s;
}

.button:hover {
    background: rgba(50, 50, 50, 0.7);
}

#scroll_list {
    position: relative;
    width: 98%;
    height: 100%;
    padding: 5px;
    overflow: hidden;

    /*IE workaround*/
    display: flex;
    flex-direction: row;

    display: -webkit-inline-box;
    transition : transform 0.5s ease;
}

.event_card {
    position: relative;
    width: 17%;
    height: 98%;
    min-width: 200px;
    background: white;
    left: 1%;
    top: 1%;
    border: 2px transparent;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.event_card img {
    position: relative;
    width: 100%;
    height: 40%;
}

.event_button_wrapper {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    /* bottom: 0; */
    align-items: flex-end;
    justify-content: flex-end;
}

.event_button {
    position: relative;
    width: 100px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dddddd;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.event_button:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

a.event_button {
    color: #555;
    font-weight: bold;
}

#map_wrapper {
    position: relative;
    width: 100%;
    height: 40vw;
    margin-top: 2%;
}

#map {
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    width: 100%;
    padding: 1% 0 1% 0;
    border-top: 2px solid #ddd;
    text-align: center;
}